/AndresenSpatialTest/nbproject/private/
/AndresenSpatialTest/dist/
/AndresenSpatialTest/build/
/AndresenSpatialTest/data/out*
/AndresenSpatialTest/london_data/

data/vancouver_all/

/example/*

r/.Rhistory 

r/expanding_cell_cache/
